<div id="admin-all-visitors-content">
  <header class='clearfix'>
    <h2 class="page-title pull-left">Add Review</h2>
  </header>
  <div class="content-inner">
    <div class="form-wrapper">
      <%= render 'form' %>
    </div>
  </div>
</div>
