<div class="nested-fields form-inline">
    <%= f.text_field :icon, class: 'form-control', placeholder: 'icon' %> 
    <%= f.text_field :url, class: 'form-control', placeholder: 'URL' %> 
    <%= link_to_remove_association icon('minus'), f, class: 'btn btn-default' %>
</div>
