<% images.each do |img| %> 
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <%= check_box_tag "project_images_ids[]", img.id %> 
      <%= image_tag img.try(:image).url, class: 'img-responsive' %> 
    </div>
  </div>
<% end %> 
