<div id="admin-project-content">
  <header>
    <h2 class="page-title">Create new post</h2>
    <%= link_to 'All Projects', admin_projects_path, class: 'btn btn-xs btn-default pull-right' %>
  </header>
  <div class="content-inner">
    <div class="form-wraper">

      <%= render 'form' %>

    </div>
  </div>
</div>
