$prim1: #7F0000;
$prim2: #7F2626;
$prim3: #CC0000;
$prim4: #FF0000;
$prim5: #FF4C4C;

$mainBg: #f3f3f4;
$sideBg: #2f4050;
$sideBgHover: #293846;
$fontColor: #676a6c;
$borderColorGray: #e7eaec;



.admin-content-container {
  height: 100%;
  padding: 20px;
  margin: 20px 20px 120px 20px;
  background-color: #fff;
  border-top: 3px $borderColorGray solid;
}

.admin-content-header {
  border-bottom: 1px $mainBg solid;
  padding: 10px 0;
  .page-title {
    color: $prim3;
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 20px;
  }
}

.search-field-styles {
  height: 31px;
  border: 1px $borderColorGray solid;
}
.search-btn {
  height: 31px;
  border: 1px $borderColorGray solid;
}

.pagination-settings {
  font-size: 1.1em;
  letter-spacing: -0.07em;
  font-family: courier,'new courier';
  span.page.current {
    color: $prim5;
  }
  .first, .last, .next, .prev, .page {
    a {
      color: $prim3;
      &:hover {
        color: #7F0000;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
      }
    }
  }
}
