@import 'admin_partials';

#admin-all-comments-content {
  @extend .admin-content-container;

  .comments-row {
    margin-bottom: 30px;
  }
  .comment-age {
    font-size: 12px;
  }
  .comments-well {
    margin-top: 10px;
  }

  .btn-default {
    color: $fontColor;
    border: 1px #eee solid;
    &:hover {
      background: $mainBg;
    }
  }

  header {
    @extend .admin-content-header;
  }
  .search-field {
    @extend .search-field-styles;
  }
  .search-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pagination {
    @extend .pagination-settings;
  }
}
