@import 'admin_partials';

html, body {
  height: 100%;
  padding: 0px !important;
}

#admin {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $mainBg;
  color:  $fontColor;
  height: 100%;


  .box {
    border: 1px dotted red;
  }

  .display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .display-table-row {
    display: table-row;
    height: 100%;
  }
  .display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .valign-top {
    vertical-align: top;
  }

  #side-menu{
    background-color: $sideBg;
    padding: 0;
    h1 {
      color: $prim3;
      text-align: center;
      margin: 10px 0;
      font-size: 29px;
    }

    p {
      width: 100%;
      text-align: center;
      margin-top: -10px;
      margin-bottom: 15px;
    }

    ul {
      list-style: none;
      margin:0;
      padding:0;
      li {
        .fa {
          margin-right: 5px;
        }
        span {
          position: relative;
          bottom: 27px;
          &.posts-label{
            bottom: -2px;
          }
        }
        .collapseable {
          border-left: 4px solid $prim3;
        }
        li{
          a {
            padding: 10px;
            padding-left: 50px;
            font-size: 12px;
            text-decoration: none;
          }
          span {
            margin-right: 20px;
          }
        }
      }
      a {
        color: $prim4;
        padding: 12px 20px;
        text-decoration: none;
        font-weight: bold;
        font-size: 13px;
        display: block;
        p {
          display: inline;
          padding-left: 5px;
        }
        &:hover {
          color: $prim5;
          background-color:$sideBgHover;
          display: block;
        }
      }
      .active {
        color: $prim5;
        background-color:$sideBgHover;
      }

    }
  }

  header#nav-header {
    background-color: #fff;
    border-bottom: 1px solid  $borderColorGray;
    #header-search-field{
      padding-top: 17px;
      vertical-align: center;
      border: none;
      width: 300px;
      outline: none;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      color: $fontColor; 
      .label {
        position: absolute;
        margin-top: -10px;
        margin-left: -5px;
      }

      .fixed-width {
        width: 35px;
      }
      li {
        float: left;
        margin-left: 15px;
        padding: 17px 0px;
        .fa {
          color: $fontColor; 
        }
        &#welcome {
          margin-right: 20px;
        }
        a {
          text-decoration: none;
        }
      }
    }

    .navbar-default {
      background-color: #fff;
      padding: 0;
      .fa-bars {
        font-size: 15px;
      }
    }
    .navbar-default .navbar-toggle {
      border-color: $prim3;
      background-color: $prim3;
      border-radius: 3px;
      padding: 7px 8px;
    }


  }

  footer#admin-footer {
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 35px;
    font-size: 16px;
    color: $fontColor;
    bottom: 0;
  }

}

#admin-dashboard-content {
  .dashboard-left-cell {
    padding-right: 5px;
    @media(max-width: 991px) {
      padding-right: 15px;
    }
    .admin-content-container {
      margin-bottom: 10px;
      @extend .admin-content-container;
      margin-right: 5px;
      @media(max-width: 991px) {
        margin-right: 20px;
      }
    }
  }
  .dashboard-right-cell {
    padding-left: 5px;
    @media(max-width: 991px) {
      padding-left: 15px
    }
    .admin-content-container {
      @extend .admin-content-container;
      margin-bottom: 10px;
      margin-left: 5px;
      @media(max-width: 991px) {
        margin-left: 20px;
      }
    }
  }

  header {
    @extend .admin-content-header;
    margin-bottom: 20px;
    h5 {
      margin: 0px;
      padding-left: 20px;
      padding-top: 3px;
      color: $prim3;
    }
  }

  .text-link {
    color: $prim3;
    &:hover {
      color: $prim2;
    }
  }

  .btn-default {
    color: $fontColor;
    border: 1px #ccc solid;
    &:hover {
      background: $mainBg;
    }
  }

  .comment-head-dash {
    margin-bottom: 6px;
    .commenter-name-dash {
      font-weight: bold;
      color: $prim2;
      font-size: 13px;
    }
    .days-dash {
      font-size: 13px;
    }
  }
  small {
    color: #999
  }
  .comment-dash {
    margin-bottom: 5px;
  }
  table {
    .col-md-1 {
      width: 10px;
    }
  }
}

