@import 'admin_partials';

#admin-all-messages-content  {
  @extend .admin-content-container;
  height: 100%;

  header {
    @extend .admin-content-header;
  }
  .search-field {
    @extend .search-field-styles;
  }
  .search-row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .pagination {
    @extend .pagination-settings;
  }

}
