@import 'admin_partials';

.adm-avatar {
  margin: 0 auto;
  padding: 5px;
}
input#moderator_avatar {
  margin-top: 20px;
}
label[for='moderator_avatar'] {
}

#admin-all-visitors-content {
  header {
    padding: 0 !important;
    ul {
      margin-right: 40px;
      border-bottom: none;
    }
  }
}
#moderator_catchphrase {
  resize: vertical;
}
input#moderator_owner {
    margin-left: 5px;
    margin-right: 10px;
}
