@import 'admin_partials';

.adm-avatar {
  width: 100%;
}
input#moderator_avatar {
  margin-top: 20px;
}
label[for='moderator_avatar'] {
}

#admin-all-visitors-content {
  header {
    padding: 0 !important;
    ul {
      margin-right: 40px;
      border-bottom: none;
    }
  }
}
