@import 'admin_partials';

#admin-all-notifications-content  {
  @extend .admin-content-container;
  height: 100%;

  .btn-default {
    @extend .btn-default; 
  }

  header {
    @extend .admin-content-header;
  }
  .content-inner {
    padding: 20px;
    .notification-content-row {
      margin-top: 5px;
      b {
        padding-right: 5px;
        color: $prim2;
      }
    }
  }

}
