@import 'admin_partials';


#admin-post-content {
  @extend .admin-content-container;

  header {
    @extend .admin-content-header;
  }

  .chosen-container, .chosen-container-multi {
    width: 100% !important;
  }

  .form-control {
    border-radius: 1px;
  }
  .form-group {
    margin: 20px 0;
  }
  input.checkbox {
    position: relative;
    display: inline;
    top: 3px;
    margin-left: 10px;
  }

}
#admin-all-posts-content {
  @extend .admin-content-container;

  header {
    @extend .admin-content-header;
  }
}
