// Place all the styles related to the admin/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$prim1: #7F0000;
$prim2: #7F2626;
$prim3: #CC0000;
$prim4: #FF0000;
$prim5: #FF4C4C;

$mainBg: #f3f3f4;
$sideBg: #2f4050;
$sideBgHover: #293846;
$fontColor: #676a6c;
$borderColorGray: #e7eaec;

#admin-post-content {
  padding: 20px;
  margin: 20px 20px 20px 20px;
  background-color: #fff;
  border-top: 3px $borderColorGray solid;

  header {
    border-bottom: 1px $mainBg solid;
    padding: 10px 0;
    .page-title {
      color: $prim3;
      padding: 0 0 0 20px;
      margin: 0;
      font-size: 20px;
    }
  }

  .form-control {
    border-radius: 1px;
  }
  .form-group {
    margin: 20px 0;
  }
  input.checkbox {
    position: relative;
    display: inline;
    top: 3px;
    margin-left: 10px;
  }

}
