.edit_social_module {
  .actions {
    margin-top: 40px;
  }
}
#social_links {
}
.nested-fields {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  .form-control  {
    margin: 0px 15px; 
  }
}
#admin-settings-content .btn-default {
  margin-left: 15px;
}
