@import 'admin_partials';

#admin-all-visitors-content {
  @extend .admin-content-container;

  header {
    @extend .admin-content-header;
    margin-bottom: 20px;
  }
  .btn-default {
    color: $fontColor;
    border: 1px #eee solid;
    &:hover {
      background: $mainBg;
    }
  }
  .visitor-name {
    color: $prim3;
    font-weight: bold;
  }

}
