.front-project-link, .front-project-link:hover {
  text-decoration: none;
}

.project-gallery>a {
  display: none;
}
.project-gallery>a:first-child {
  display: inherit;
}

.project {
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
  .project-caption {
    margin-top: 20px;
    text-align: justify;
  }
  .project-tags {
    margin-top: 100px;
    .item {
      margin: 5px;
    }
  }

}
