.posts {
  .mdl-card__title-text {
    font-size: 32px;
    padding: 0 35px;
    padding-top: 5px;
  }
  .mdl-card__supporting-text {
    padding: 5px 35px;
    // padding-left: 30px;
    width: 100%;
    a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent {
      float: right;
    }
  }
}
.mdl-post-show.mdl-card__title {
  padding: 0;
  h2 {
    font-size: 34px;
    letter-spacing: 1px;
  }
}
.mdl-post-show.mdl-card__supporting-text {
  padding-left: 0;
  padding-top: 10px;
  span {
    a.item {
      padding: 0 2px;
    }
  } 
}
.mdl-post-header {
  margin-top: 50px !important;
}
.mdl-grid.portfolio-copy {
  padding: 40px 10px;
}
.comments {
  margin-top: 100px;
  padding-bottom: 100px;
  background: rgba(211, 211, 211, 0.16);
  h4 {
    padding-bottom: 25px;
  }
}
.mdl-comments {
  .mdl-card__supporting-text { 
    width: 100%;
  }
}
.mdl-post-show.mdl-card__supporting-text {
  width: 100%;
}
.portfolio-contact form {
  max-width: 700px;
  margin: auto;
  padding: 0 10px;
}
.mdl-grid.portfolio-copy {
  .bs-callout {
    margin-bottom: 30px;
    width: 100%;
    p {
      margin-bottom: 0;
    }
    span {
      font-size: 18px;
      letter-spacing: 3px;
      padding-bottom: 13px;
      display: inline-block;
    }
  }
}
