<div id="admin-post-content">
  <header>
    <h2 class="page-title">Post edit</h2>
  </header>
  <div class="content-inner">
    <div class="form-wraper">
      <%= render 'form' %> 
    </div>
  </div>
</div>
