/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');
@import 'admin/admin_partials';

* {
  padding: 0;
  margin: 0;
}

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
  overflow-x: hidden;
  .notice {
    // background-color: white;
    // padding: 6px;
    // box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
    // text-transform: uppercase;
    // font-size: .7em;
    // font-weight: 600;
    // position:relative;
    // z-index:1000;
  }
}

.row-index {
  margin-top: 50px;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
  // font-family: 'Droid Sans Mono', monospace;
}
h3 {
  // font-size: 1.3em;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color: $prim3;
  opacity: .9;

  p {
    fonts-size: 1.2em;
    color: white;
    float: left;
  }

}

.img-fluid {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.25);
}
#masthead {
  min-height:280px;
  background-color: $prim5;
  color:#aaaacc;
  background: url('header.jpg') no-repeat;
  background-attachment: fixed;
  position: relative;
  top: -40px;
  a {
    color: white;
  }
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:70px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
  position: relative;
  bottom: -23px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}


// CUSTOM ///////////////////////////////
.login {
  .col-center {
    float: none;
    margin: 0 auto;
  }

  .alert {
    padding: 0;
  }

}

#alert {
  display:none;
  position: absolute;
  top: 75px;
  opacity: 0.8;
  right: 55px;
  z-index: 9999;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,.6);
  color: $prim1;
  background-color: white;
}

#front-index { 
  margin: 60px 50px 0px 50px;

  .col-center {
    float: none;
    margin: 0 auto;
    .post-details {
      position: relative;
      top: -10px;
      margin-bottom: -2px;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  a.text-muted {
    color: $prim3;
  }

  a.text-muted:hover, a.text-muted:active, a.text-muted:focus {
    color: $prim1;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.35);
  }

  .tag-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .05em;
    background: $prim3;
    a {
      color: white;
    }
    &:hover {
      color: $prim1;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    }
  }

  .panel-body {
    padding: 50px 15px
  }
  .book-header {
    position: relative;
    top: -40px;
  }

  nav.pagination {
    @extend .pagination-settings;
  }


  .books-reviews {
    .col-md-12.col-sm-6 {
      margin-top: 30px;
      h5 {
        a { 
          position: relative;
          top: 20px;
          font-size: 1.1em;
          letter-spacing: -0.07em;
          font-family: courier,'new courier';
          color: $prim3;
          &:hover {
            color: #7F0000;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
          }
        }

      }
    }
  }
}
#booksReviews {
  h2, h3, h4, a {
    color: $prim3;
    margin-top: 0;
  }

  #truncatedReview {
    margin-top: -50px;
  }
  p {
    margin-top: 30px;
    a {
      &:hover {
        color: #7F0000;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
      }
    }
  }
  .img-fluid {
    margin-top: 15px;
  }
  img.avatar {
    margin-top: 10px;
  }
}

#myBookModal {
  .col-center {
    float: none;
    margin: 0 auto;
  }
}

#masthead {
  padding-left: 50px;
  h2  {
    color: white;
  }
}


#navigation {
  .navbar-nav {
    padding-left: 25px;
  }

  #wrap {
    display: inline-block;
    position: relative;
    float: right;
    padding: 0;
    position: relative;
    form {
      height: 37px;
    }
  }

  input[type="text"] {
    // height: 60px;
    font-size: 19px;
    display: inline-block;
    font-family:'Oswald',arial narrow,sans-serif;
    font-weight: 300;
    letter-spacing: 0.1em;
    border: none;
    outline: none;
    color: white;
    padding: 11px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: -1px;
    right: 35px;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    position: relative;
  }

  input[type="text"]:after {

  }

  input[type="text"]:focus:hover {
    border-bottom: 2px solid white;
    outline: none;
  }

  input[type="text"]:focus {
    width: 400px;
    z-index: 1;
    border-bottom: 2px solid white;
    cursor: text;
    outline: none;
  }
  input[type="submit"] {
    outline: none;
    height: 37px;
    width: 63px;
    display: inline-block;
    color:red;
    float: right;
    background: url('lupa.png') no-repeat;
    background-size: 39%;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 13px;
    right: 5px; 
    z-index: 2;
    cursor: pointer;
    transition: opacity .4s ease;
  }

  input[type="submit"]:hover {
    // opacity: 0.8;
    outline: none;
  }

}

#post-show {
  .container {
    margin-top: 150px;

    .col-center {
      float: none;
      margin: 0 auto;

      h1 {
        margin: 50px 0;
      }

      h3 {
        margin-bottom: 80px;
      } 

      hr {
        margin: 50px 0;
      }

      .form-horizontal {
        #error-explanation {
          color: $prim4;
          margin-top: -60px;
          margin-bottom: 10px;
          ul>li {
            margin-left: 35px;
          }
        }
      }

    }

    .meta-author-wrap, .panel {
      border-left: 3px solid $prim3;
      padding-bottom: 10px;
    }

    .meta-author-wrap {
      margin-top: -100px;
    }

    .avatar-img {
      margin-left: 15px;
      margin-bottom: 10px;
      border: 4px solid white;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 1px 1px 4px rgba(0,0,0,0.55);
      margin: 0 auto;
      float: none;
      margin-top: 10px;
    }

    .meta-author {
      margin-left: 15px;
      margin-top: 30px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      letter-spacing: .01em;

      @media screen and (max-width: 991px) {
        margin-left: 0px;
      }

      @media screen and (min-width: 992px) and (max-width: 1169px) {
        margin-left: 5px;
      }

      h4{
        font-size: 1em;
        text-transform: uppercase;
        color: $prim3;

        @media screen and (max-width: 991px) {

          h4{
            font-size: 0.9em;
          }

        }

      }

      p {
        text-transform: uppercase;
        font-size: .9em; 
        margin: 2px;

        a {
          font-size: .9em; 
          color: $prim3;

          &:hover {
            color: $prim1;
          }

        }

        &:nth-child(3) {
          font-size:.8em;
        }

        &:nth-child(4) {
          font-size:1em;
        }

      }
    }

    /* Base styles (regardless of theme) */
    .bs-callout {
      margin: 20px 0;
      padding: 15px 30px 15px 15px;
      border-left: 5px solid #eee;
    }

    .bs-callout h4 {
      margin-top: 0;
    }

    .bs-callout p:last-child {
      margin-bottom: 0;
    }

    .bs-callout code,
    .bs-callout .highlight {
      background-color: #fff;
    }

    /* Themes for different contexts Not used yet! */
    .bs-callout-danger {
      background-color: #fcf2f2;
      border-color: #dFb5b4;
    }

    .bs-callout-warning {
      background-color: #fefbed;
      border-color: #f1e7bc;
    }

    .bs-callout-info {
      background-color: #f0f7fd;
      border-color: #d0e3f0;
    }

    .bs-callout-danger h4,
    .bs-callout-danger a.alert-link {
      color: #B94A48;
    }

    .bs-callout-warning h4,
    .bs-callout-warning a.alert-link {
      color: #C09853;
    }

    .bs-callout-info h4,
    .bs-callout-info a.alert-link {
      color: #3A87AD;
    }

    .bs-callout a.alert-link {
      font-weight: bold;
    }
    .comments-form {
      margin-top: 90px;
      margin-bottom: 60px;
    }
    .text-right {
      margin-bottom: 20px;
      a {
        color: $prim3;
        &:hover {
          color: $prim1;
        }
      }
    }
  }
}

#myModal {
  .modal-content {
    // border: 1px solid $prim3;
  }
  .close {
    margin-right: -55px;
    color: $prim3;
  }
  .form-group {
    margin-bottom: 20px;
    .col-sm-10 {
      float: none;
      margin: 0 auto;
    }
    .control-label {
      color: $prim3;
    }
    .form-control {
      // border-color: rgba(224, 0, 0, .3);
    }
  }
  .btn.btn-default {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: $prim3;
    color: $prim3;
  }
  #errors {
    margin-left: 20px;
    color: rgba(224, 0, 0, 0.6);
    text-transform: uppercase;
    list-style: none;
  }
  #error_explanation {
    color: rgba(224, 0, 0, 0.6);
    text-transform: uppercase;
    list-style: none;
  }
  .col-sm-10:nth-of-type(1) {
    text-transform: uppercase;
    color: $prim3;
    font-weight: 600;
    p{
      padding-top: 20px;
    }
  }
}

#myBookModal {
  h1, h2, h3 {
    color: $prim3;
  }
  h2 {
    text-transform: uppercase;
  }
  .btn.btn-default {
    float: right;
    margin-top: 50px;
    margin-bottom: 25px;
    border-color: $prim3;
    color: $prim3;
    margin-left: 20px;
  }
  .close {
    margin-right: -55px;
    color: $prim3;
  }
}







// CUSTOM END //////////////////////////

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color: $prim3;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color: white;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color: $prim1;
  color: white;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  position: relative;
  top: -150px;
  border-color:transparent;
  border-radius:0;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.35);
  min-height: 597px;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}
