<header id="nav-header" class="clearfix">
  <div class="col-md-5">
    <nav class="navbar-default">
      <button id="burger" class="navbar-toggle collapsed pull-left" type="button" data-toggle="offcanvas" data-target="#side-menu"><span class="fa fa-bars"></span></button>
    </nav>
    <input type="text" id="header-search-field" class="hidden-sm hidden-md hidden-lg hidden-xs" placeholder="Search for something...">
  </div>
  <div class="col-md-7">
    <ul class="pull-right">
      <li class="fixed-width"> 
        <%= link_to "<span class='fa fa-bell'></span><span class='label label-warning'>#{get_number_of_notifications}</span>".html_safe, admin_notifications_path %>
      </li>
      <li class="fixed-width"> 
        <%= link_to "<span class='fa fa-envelope'></span><span class='label label-success'>#{get_number_of_messages}</span>".html_safe, admin_messages_path %>
      </li>
      <li class="hidden-xs">Welcome <strong><%= @moderator.fullname %></strong> to your administration area</li>
      <li>
        <%= link_to '<span class="fa fa-sign-out" aria-hidden="true"></span>'.html_safe, logout_path %>
      </li>
    </ul>
  </div>
</header>
