<header id="nav-header" class="clearfix">
  <div class="col-md-5">
    <input type="text" id="header-search-field" placeholder="Search for something...">
  </div>
  <div class="col-md-7">
    <ul class="pull-right">
      <li id="welcome">Welcome to your administration area</li>
      <li class="fixed-width"> 
	<a href="#">
	  <span class="fa fa-bell"></span>
	  <span class="label label-warning">3</span>
	</a>
      </li>
      <li class="fixed-width"> 
	<a href="#">
	  <a href="#">
	    <span class="fa fa-envelope"></span>
	    <span class="label label-success">3</span>
	  </a>
      </li>
      <li>
	<%= link_to 'Logout <i class="ico fa fa-sign-out" aria-hidden="true"></i>'.html_safe, logout_path %>
      </li>
    </ul>
  </div>
</header>
