<div class="container login">
  <div class="row">
    <div class="col-center col-md-3">
      <% if flash[:notice] %>
        <div class="alert"> <%= flash[:notice] %> </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"> <%= flash[:alert] %> </div>
      <% end %>
    </div>
  </div>
</div>
