<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Code Block
          <p class="lead">not only coding blog</p>
        </h1>
      </div>
      <div class="col-md-5">
      </div>
    </div> 
  </div>
</div>

