<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1> <%= Setting.site_name  %> </h1>
        <h2> <%= Setting.site_phrase %> </h2>
      </div>
      <div class="col-md-5">
      </div>
    </div> 
  </div>
</div>

